body
{
    margin: 0;
}

.clear
{
    clear: both;
}

.top_menu
{
    max-width: 960px;
    height: 50px;
    margin: 0 auto;
    display: block;
    text-align: left;
}

.nav_bar
{
    display: block;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    position: relative;
    left: 12px;
}

.nav_bar_menu
{
    display: inline-block;
}

.nav_bar_button, .nav_bar_button:visited, .nav_bar_button:active
{
    display: block;
    text-align: center;
    padding: 12px 20px 12px 19px;
    font: 19px 'Georgia';
    line-height: 26px;
    color: #333;
    text-decoration: none;
}

.nav_bar_button:hover
{
    background: #15a98c;
    color: #f5f5f5;
}

.hobby
{
    padding-left: 21px;
}

.about:before
{
    content: url('../images/about_me_icon.png');
    padding-right: 12px;
    position: relative;
    left: 1px;
    top: 1px;
}

.about:hover:before
{
    content: url('../images/about_me_icon_hover.png');
}

.hobby:before
{
    content: url('../images/hobby_icon.png');
    padding-right: 11px;
    position: relative;
    top: 2px;
}

.hobby:hover:before
{
    content: url('../images/hobby_icon_hover.png');
}

.video:before
{
    content: url('../images/video_icon.png');
    padding-right: 11px;
    position: relative;
    top: 1px;
}

.video:hover:before
{
    content: url('../images/video_icon_hover.png');
}

.background
{
    background: url("../images/background.png") no-repeat top left;
}

.intro
{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 23px;
}

.photo
{
    margin: 0 60px 0 0;
    flex: none;
    border-radius: 5px;
    position: relative;
    bottom: -185px;
    width: 330px;
    height: 350px;
    align-self: center;
}

.quote
{
    max-width: 570px;
    margin: 234px 0 43px 0;
}

.quote_text
{
    font: 28px/1.47 'Georgia';
    color: #fff;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.author
{
    font: 600 16px/1.47 'Open Sans', sans-serif;
    color: #f5f5f5;
    padding-left: 5px;
}

.main_header
{
    font: 700 48px/1 'Open Sans', sans-serif;
    color: #333;
    margin: 0;
}

.green_line
{
    width: 60px;
    height: 6px;
    border-radius: 6px;
    background-color: #15a98c;
    margin: 28px 0 44px 1px;
}

.main_block
{
    max-width: 960px;
    margin: 0 auto;
    padding-left: 24px;
    display: flex;
    flex-direction: row;
}

.lists
{
    min-width: 330px;
    display: flex;
    flex-direction: column;
    margin: 43px 0 0 0;
    position: relative;
    top: 160px;
}

.green_header
{
    font: 600 24px 'Open Sans';
    color: #15a98c;
    margin: 0 0 13px;
}

.list_text
{
    font: 19px/36px 'Georgia';
    margin: 0 0 40px;
    color: #555;
    padding-left: 19px;
}

.info
{
    display: flex;
    flex-direction: column;
    margin: 41px 0 0 58px;
}

.dark_header
{
    font: 400 34px/46px 'Open Sans';
    color: #333;
    margin: 39px 0 13px;
    letter-spacing: 1.2px; /*если округлить, будет отличаться от макета*/
}

.text
{
    font: 19px/1.69 "Georgia";
    margin: 0;
    color: #555;
}

.info > .text:last-of-type
{
    margin-bottom: 47px;
}

.link
{
    font: 19px 'Georgia';
    color: #15a98c;
    position: relative;
    margin-left: 1px;
}

.link:after
{
    content: "→";
    position: absolute;
    left: 120px;
}

.link:visited
{
    color: #000;
}

.movie_background
{
    background-color: #f9f9f9;
}

.movie_block
{
    margin: 62px auto 41px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    padding-left: 23px;
}

.dark_header_movies
{
    font: 400 34px/46px 'Open Sans';
    color: #333;
    margin: 33px 0 32px 1px;
    letter-spacing: 1.25px; /*если округлить, будет отличаться от макета*/
}

.carousel
{
    max-width: 1420px;
    min-width: 400px;
    margin: 0 auto 0;
    position: relative;
}

.left_button, .right_button
{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #15a98c;
    color: #fff;
    border: 0;
    position: absolute;
}

.left_button:hover, .right_button:hover
{
    background-color: #098d71;
}

.left_button
{
    top: 177px;
    left: 12px;
}

.arrow_svg
{
    position: relative;
    right: 7px;
}

.right_button
{
    top: 177px;
    right: -12px;
}

.arrow
{
    fill: none;
    stroke: #fff;
    stroke-width: 3;
}

.cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie_card
{
    width: 285px;
    padding: 0;
}

.movie_title
{
    font: 700 22px/1.75 'Open Sans', sans-serif;
    color: #333;
    text-align: left;
    margin: 0 0 14px 0;
}

.movie_description
{
    font: 16px/1.75 'Georgia';
    color: #555;
    margin: 0;
}

.movie_image
{
    margin-bottom: 16px;
    border-radius: 5px;
}

.button
{
    width: 220px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: #15a98c;
    color: #f5f5f5;
    font: 19px 'Georgia';
    line-height: 20px;
    text-align: center;
    padding: 15px 0 15px;
}

.movie_button
{
    margin: 82px auto 60px;
    position: relative;
    left: -10px;
}

.button:hover
{
    background-color: #098d71;
}

.form_header
{
    display: flex;
    justify-content: center;
}

.form_title
{
    font: 300 36px "Open Sans", sans-serif;
    color: #333;
    margin: 0;
    position: relative;
    left: 6px;
}

.form_title:before
{
    content: '';
    width: 200px;
    height: 1px;
    background-color: #c4c4c4;
    display: inline-block;
    position: absolute;
    left: -227px;
    bottom: 23px;
}

.form_title:after
{
    content: '';
    width: 200px;
    height: 1px;
    background-color: #c4c4c4;
    display: inline-block;
    position: absolute;
    right: -224px;
    bottom: 23px;
}

.form
{
    display: flex;
    flex-direction: column;
    max-width: 540px;
    margin: 0 auto 0;
    padding: 67px 0 0 22px;
}

.label
{
    font: 400 20px 'Open Sans', sans-serif;
    color: #333;
    width: 540px;
    margin-bottom: 6px;
}

.input_field
{
    width: 500px;
    height: 46px;
    border: 2px solid #a6a6a6;
    border-radius: 2px;
    font: 400 18px "Open Sans", sans-serif;
    color: #555;
    padding: 0 18px 0;
    margin-bottom: 26px;
}

.input_field:focus
{
    border-color: #15a98c;
}

.input_field:nth-of-type(2)
{
    margin-bottom: 27px;
}

.error_field
{
    border-color: #ff0000;
}

.select_field
{
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;
    background: url('../images/arrow_down.png') no-repeat;
    width: 541px;
    height: 50px;
    background-position-y: 18px;
    background-position-x: 97%;
    border: 2px solid #a6a6a6;
    border-radius: 2px;
    font: 400 18px "Open Sans", sans-serif;
    color: #555;
    padding: 0 12px 0;
    margin: 1px 0 43px;
}

.select_field:focus
{
    border-color: #15a98c;
}

.gender
{
    display: inline-block;
    font-size: 0;
    margin-bottom: 42px;
}

.label_gender
{
    margin-bottom: 11px;
}

.radio_input
{
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем стандартные кружочки */
    position: absolute;
    margin: 0;
}

.radio_input:before
{
    content: ' ';
    position: absolute;
    top: 7px;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    background-color: #dedede;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.radio_input:checked:after
{
    content: ' ';
    position: absolute;
    top: 10px;
    left: 3px;
    z-index: 2;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #666;
}

.radio_text
{
    font: 400 18px "Open Sans", sans-serif;
    color: #555;
    margin: 0 40px 0 22px;
}

.radio_text_f
{
    margin-left: 21px;
}

.message_header
{
    margin-bottom: 5px;
}

.text_area
{
    height: 127px;
    width: 500px;
    resize: none;
    border: 2px solid #a6a6a6;
    border-radius: 2px;
    font: 400 18px "Open Sans", sans-serif;
    color: #555;
    padding: 18px 18px 0;
}

.text_area:focus
{
    border-color: #15a98c;
}

.send_block
{
    display: flex;
    flex-direction: row;
    margin: 50px 0 50px;
}

.send_button
{
    align-items: flex-start;
}

.check
{
    width: 27px;
    height: 28px;
}

.result_message
{
    margin: 0 0 0 31px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35%;
}

.hidden
{
    display: none;
}

.send_message
{
    font: 14px/16px 'Roboto', sans-serif;
    color: #2E2B2B;
    margin: 2px 0 0 15px;
}

.required:after
{
    color: #ff0000;
    content: ' *';
}

.footer
{
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
    display: flex;
}

.footer_text
{
    font: 16px 'Georgia';
    margin: auto;
    color: #555;
}

