body
{
    margin: 0;
}

.clear
{
    clear: both;
}

.top_menu
{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    display: block;
    text-align: left;
}

.nav_bar
{
    display: block;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    position: relative;
    left: 30px;
}

.nav_bar_menu
{
    display: inline-block;
}

.nav_bar_button, .nav_bar_button:visited, .nav_bar_button:active
{
    display: block;
    text-align: center;
    padding: 14px 21px 15px;
    font: 19px 'Georgia';
    color: #333333;
    text-decoration: none;
}

.nav_bar_button:hover
{
    background: #15a98c;
    color: #f5f5f5;
}

.about:before
{
    content: url('../images/about_me_icon.png');
}

.about:hover:before
{
    content: url('../images/about_me_icon_hover.png');
}

.hobby:before
{
    content: url('../images/hobby_icon.png');
}

.hobby:hover:before
{
    content: url('../images/hobby_icon_hover.png');
}

.video:before
{
    content: url('../images/video_icon.png');
}

.video:hover:before
{
    content: url('../images/video_icon_hover.png');
}

.background
{
    background: url("../images/background.png")
                no-repeat
                top left;
    min-height: 400px;
}

.intro
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.photo
{
    margin: 0 60px 0 30px;
    flex: none;
    border-radius: 5px;
    position: relative;
    bottom: -210px;
    width: 330px;
    height: 350px;
    align-self: center;
}

.quote
{
    max-width: 570px;
    margin: 234px 0 0;
}

.quote_text
{
    font: 28px/1.5 'Georgia';
    color: #ffffff;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.author
{
    font: 600 16px/1.5 'Open Sans', sans-serif;
    color: #f5f5f5;
}

.header
{
    display: block;
    float: left;
    margin: 42px 0 0;
}

.main_header
{
    font: 700 48px/1 'Open Sans', sans-serif;
    color: #333333;
    margin: 0;
}

.green_line
{
    width: 60px;
    height: 6px;
    border-radius: 6px;
    background-color: #15a98c;
    margin: 28px 0 43px;
}

.main_block
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}

.lists
{
    min-width: 330px;
    display: flex;
    flex-direction: column;
    margin: 44px 0 0 0;
    position: relative;
    top: 160px;
    left: 30px;
}

.green_header
{
    font: 600 24px 'Open Sans';
    color: #15a98c;
    margin: 0 0 12px;
}

.list_text
{
    font: 19px/1.9 'Georgia';
    margin: 0 0 41px;
    color: #555555;
    padding-left: 19px;
}

.info
{
    display: flex;
    flex-direction: column;
    margin: 42px 0 0 89px;
}

.dark_header
{
    font: 400 34px 'Open Sans';
    color: #333333;
    margin: 38px 0 13px;
    letter-spacing: 1.2px; /*если округлить, будет отличаться от макета*/
}

.text
{
    font: 19px/1.69 "Georgia";
    margin: 0;
    color: #555555;
}

.info > .text:last-of-type
{
    margin-bottom: 49px;
}

.link
{
    font: 19px 'Georgia';
    color: #15a98c;
    position: relative;
}

.link:after
{
    content: "→";
    position: absolute;
    left: 120px;
}

.link:visited
{
    color: #000000;
}

.movie_block
{
    margin: 66px auto 70px ;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.dark_header_movies
{
    font: 400 34px 'Open Sans';
    color: #333333;
    margin-bottom: 32px;
    letter-spacing: 1.5px; /*если округлить, будет отличаться от макета*/
}

.cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.movie_card
{
    width: 285px;
    margin-left: 20px;
    padding: 0;
}

.movie_title
{
    font: 700 22px/1.75 'Open Sans', sans-serif;
    color: #333333;
    text-align: left;
    margin: 0 0 13px 0;
}

.movie_description
{
    font: 16px/1.75 'Georgia';
    color: #555555;
    margin: 0;
}

.movie_image
{
    margin-bottom: 17px;
    border-radius: 5px;
}

.movie_button
{
    margin: 82px auto 0;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: #15a98c;
    display: flex;
    position: relative;
    left: -11px;
}

.movie_button:hover
{
    background-color: #098d71;
}

.movie_button_name
{
    color: #f5f5f5;
    font: 19px 'Georgia';
    margin: auto;
}

.footer
{
    width: 100%;
    height: 70px;
    background-color: #e8e8e8;
    display: flex;
}

.footer_text
{
    font: 16px 'Georgia';
    color: #555555;
    margin: auto;
}
